/target/
/target/*
target/
target/classes/
/target/classes/
target/classes/*
/target/classes/*
.classpath
.project
.settings/
.settings/*
src/main/resources/application.properties
./src/main/resources/application.properties
src/test/resources/
./src/test/resources/
